@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Kanit&family=Miltonian+Tattoo&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f1eee9;
}

a {
  color: inherit;
  text-decoration: none;
}
