.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #37474f;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerHeader {
  font-family: 'Miltonian Tattoo', cursive;
  font-size: 1.8em;
  margin-left: 0.8rem;
  color: #e7b10a;
}

.headerLink {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImg {
  border: none;
  border-radius: 50%;
}

.signUpDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signUp {
  color: #e7b10a;
}
